html,
body {
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

.bg-image {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.logo {
    padding-top: 10px;
    padding-left: 14px;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    text-decoration: none;
    color: white;
    position: fixed;
    animation: slide-in-left 500ms;
}

@keyframes zoom-in {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0.25;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex !important
}

.flex-column {
    flex-direction: column !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-center {
    justify-content: center !important
}

.align-items-center {
    align-items: center !important
}

.p-4 {
    padding: 2rem !important
}

.icons {
    padding-top: 100px;
    animation: zoom-in 500ms;
}

.bi {
    font-size: clamp(2em, 4vw, 3em);
    color: white;
}

@keyframes slide-in-right {
    from {
        transform: translateX(25%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.lqnt {
    font-family: Outfit, sans-serif;
    font-weight: bold;
    font-size: clamp(3.5em, 12vw, 6em);
    color: white;
    padding-top: 70px;
    padding-right: clamp(20px, 5vw, 100px);
    line-height: 0.5;
    white-space: nowrap;
    animation: slide-in-right 500ms;
}

.fuerte {
    font-family: Outfit, sans-serif;
    font-weight: bold;
    font-size: clamp(2.05em, 7vw, 3.5em);
    color: #990019;
    padding-right: clamp(20px, 5vw, 100px);
    line-height: 1;
    white-space: nowrap;
    animation: slide-in-right 500ms;
}
